{{ ansible_managed }}

eap_server={{ hostapd__eap_server }}
ieee8021x={{ hostapd__ieee8021x }}
driver={{ hostapd__driver }}
interfaces={{ hostapd__interfaces }}
mab_interfaces={{ hostapd__mab_interfaces }}
parking_vlan_interfaces={{ hostapd__parking_vlan_interfaces }}
parking_vlan_id={{ hostapd__parking_vlan_id }}
mab_activation_delay={{ hostapd__mab_activation_delay }}
eap_reauth_period={{ hostapd__eap_reauth_period }}
eap_send_identity={{ hostapd__eap_send_identity }}
ctrl_interface={{ hostapd__ctrl_interface }}
nas_identifier={{ hostapd__nas_identifier }}
auth_server_addr={{ hostapd__auth_server_addr }}
auth_server_port={{ hostapd__auth_server_port }}
auth_server_shared_secret={{ hostapd__auth_server_shared_secret }}
acct_server_addr={{ hostapd__acct_server_addr }}
acct_server_port={{ hostapd__acct_server_port }}
acct_server_shared_secret={{ hostapd__acct_server_shared_secret }}
